<div class="container">

    <div class="row justify-content-center">  

       <div class="col-md-6 col-sm-12">

            <form id="register-form-wrap" class="register" method="post">

                <h2>Criar conta</h2>             

                <h3>{{mensagem}}</h3>   

                <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nomeR" name="nome" placeholder="Digite seu nome" [(ngModel)]="this.model.nome">
                </div>              <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" class="form-control" id="emailR" name="email" placeholder="Digite seu email"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Por favor, insira um e-mail válido." required [(ngModel)]="this.model.email">
                </div>   
                <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" class="form-control"  id="senhaR1" name="senha" placeholder="Digite sua senha" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" title="Senha ou e-mail incorretos, favor digite novamente." required [(ngModel)]="this.model.senha">
                </div>
                <div class="form-group">
                <label for="senha">Confirme sua senha:</label>
                <input type="password" class="form-control" id="senhaR2" name="senha" placeholder="Redigite sua senha">
                </div>
                <div class="clear"></div>
                <p class="form-row">
                <button class="btn btn-primary" id="BtnReg" (click)="gravar();">Criar Conta</button>
                </p>
                <div class="clear"></div>

            </form>
        </div>
    </div>
</div>