<nav class="navbar-expand-sm navbar-dark bg-dark" id="myTopnav">
<div class="container-fluid">
  <a class="navbar-brand" routerLink="/farmacia">Vitrine</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="navbar-brand" routerLink="/beleza">Medicamentos</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" routerLink="/beleza">Beleza</a>
        </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/beleza">Bem-Estar</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/contato">Contato</a>
      </li>
    </ul>
    <form class="d-flex">
        <input class="input-group mb-3" id="input-buscar" type="text" placeholder="Losartana">
        <a href="produto-detalhe1.html">
        <button type="button" class="btn btn-primary btn-lg">Buscar</button>
        </a>
        </form>
  </div>
</div>

</nav>